<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>What are you looking for ?</title>
    </head>
    <body>
        <form action="http://localhost:5000/result" method="post">


                <label>Keywords</label> : <input type="text" name="key" placeholder="Title/Studio/Genre,etc. Separated by a space"/>
   

                <input type="submit" value="Send" />
        </form>
    </body>
</html>

<!-- o	Anime Title
o	Anime Genre(s)
o	Anime Description
o	Anime Type
o	Anime Producer
o	Anime Studio -->
